body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#clickerGame {
    padding-left: 100px;
}

.creditcardIMG {
    width: 400px;
}

#blackjackGame {
    padding-left: 150px;
    flex-grow: 1;
    text-align: center;

}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#bet {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}

#total-bet {
    width: 50px;
    height: 50 px;
    font-size: 20px;
}

#hit {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}

#stand {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}

#restart {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}
