body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 86, 0);
    color: rgb(246, 246, 231);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#clickerGame {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#blackjackGame {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.creditcardIMG {
    width: 400px;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#bet {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}

#total-bet {
    width: 50px;
    height: 50 px;
    font-size: 20px;
}

#hit {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}

#stand {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}

#restart {
    width: 100px;
    height: 50 px;
    font-size: 20px;
}
